.primary {
    background-color: black;
    color: white;
    padding: 1.2rem 0.8rem;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}