.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: end;
    gap: 2rem;
}
.top_btn{
    display: flex;
    gap: 2rem;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact_form form{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2rem;
    gap: 1.5rem;
}
.form_container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.form_container input {
    height: 25px;
    padding: 0.5px;
}
.form_container label{
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}
.contact_image img {

}